*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hello{
    background-color: red;
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
}

header{
    width: 100%;
}